<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
    <link rel="stylesheet" href="../styles.css">
    <script type="text/javascript" src="form.js" defer></script>
    <script type="text/javascript" src="index.js" defer></script>
  <script src='https://cdn.socket.io/4.5.0/socket.io.js' defer></script>
  <script type="text/javascript" src="../websocket_form.js" defer></script>
</head>
<body>
<header>
  {{> header}}
</header>
<main>
    <form class="form" name="form">
        <label for="weekLength">Choose week length:</label>
        <select id="weekLength" name="weekLength">
            <option value="five">5</option>
            <option value="six">6</option>
        </select>
        <label for="classesNumber">Maximum classes per day</label>
        <input type="text" id="classesNumber" name="classesNumber">
        <span><strong>Language</strong></span>
        <label for="russian">Russian</label>
        <input type="radio" id="russian" name="language" value="Russian">
        <label for="english">English</label>
        <input type="radio" id="english" name="language" value="English">
        <input type="submit" value="Send">
    </form>
    <div id="div-for-table"></div>
  <ul id='products'></ul>
  <div class='merge_elem'>
    <div class='wrapper_form'>
      <form class='popup' action='' id='post_product'><label for='inp_title'>Input title:</label><input id='inp_title'>
        <button onclick='handleSubmitNewMessageProduct(event)'>Submit</button>
      </form>
    </div>
  </div>
</main>
{{> footer time=time}}
</body>
</html>