<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gallery</title>
    <link rel="stylesheet" href="styles.css">
    <script type="text/javascript" src="index.js" defer></script>
</head>
<body>
<header>
  {{> header}}
</header>
<main class="gallery-page">
    <img class="gallery-img" src="https://images.freeimages.com/images/large-previews/5a0/nuclear-drugs-1241646.jpg" alt="drugs">
    <img class="gallery-img" src="https://images.freeimages.com/images/large-previews/6b0/a-white-green-window-3-1225139.jpg" alt="window">
    <img class="gallery-img" src="https://images.freeimages.com/images/large-previews/965/skyscraper-1056769.jpg" alt="skyscraper">
    <img class="gallery-img" src="https://images.freeimages.com/images/large-previews/bef/evening-sky-after-the-storm-1-1055837.jpg" alt="sky">
    <img class="gallery-img" src="https://images.freeimages.com/images/large-previews/2d6/old-house-in-iceland-1141489.jpg" alt="house">
    <img class="gallery-img" src="https://images.freeimages.com/images/large-previews/e8e/wall-1178407.jpg" alt="wall">
    <img class="gallery-img" src="https://images.freeimages.com/images/large-previews/7b9/book-page-1147367.jpg" alt="page">
    <img class="gallery-img" src="https://images.freeimages.com/images/large-previews/517/colorful-buckets-1-1147925.jpg" alt="baskets">
</main>
  {{> footer time=time}}
</body>
</html>