<nav class="header">
    <ul class="nav-bar">
      <li>
        <a id="index" href="index.hbs">Home</a>
      </li>
      <li>
        <a id="gallery" href="gallery.hbs">Gallery</a>
      </li>
      <li>
        <a id="form" href="form.hbs">Form</a>
      </li>
      <li>
        <a id="login" href="login.hbs">Login</a>
      </li>
    </ul>
</nav>